{% include 'header.html' %}
<style>
    .center-form {
      margin: auto;
      width: 50%;
      padding: 25px;
    }
</style>

<div class="center-form">
    {% include 'includes/_messages.html' %}
    <p align="center" class="alert alert-success">Your current balance is {{ balance }} LinkT</p>
    <form action="" method="POST">
      <div class="mb-3">
        <label for="recipientAddress" class="form-label">Send To</label>
        <input type="text" name="recipientAddress" class="form-control" id="recipientAddress" required>
      </div>
      <div class="mb-3">
        <label for="amount" class="form-label">Amount</label>
        <input type="number" name="amount" class="form-control" id="amount" required>
      </div>
      <button type="submit" class="btn btn-primary">Send LinkT</button>
    </form>
</div>

{% include 'footer.html' %}